@keyframes spin
  to
    transform rotate(1turn)

.loader
  animation spin 1s infinite steps(8)
  display block
  font-size 12px
  height 5em
  margin 5rem auto
  overflow hidden
  position relative
  text-indent 999em
  width 5em

  &.large
    font-size 24px

  &:before
  &:after
  & > div:before
  & > div:after
    content ''
    position absolute
    top 0
    left 2.25em
    width .5em
    height 1.5em
    border-radius .2em
    background #FFF0A6
    box-shadow 0 3.5em #FFF0A6
    transform-origin 50% 2.5em

  &:before
    background #F5DA55

  &:after
    transform rotate(-45deg)
    background #FFE97B

  & > div:before
    transform rotate(-90deg)
    background #F5DA55

  & > div:after
    transform rotate(-135deg)
    background #FFE97B
