.Pagination
  background #f5da55
  &-list
    display flex
    justify-content space-around
    list-style-type none
    margin 0
    padding-left 0
  &-item
    & > a
      display block
      line-height 2rem
      text-align center
      width 2rem
      color black
      text-decoration none