form(action="search").Form.Header-form
  label(for="query").Form-field
    span.Form-field-name Search:
    input(type="search",
          placeholder="Movie name",
          name="query_term")#query.Form-input
  button(type="submit").fa.fa-search.Form-button