.Movie
  margin 1rem auto
  display flex
  flex-direction column
  max-width 1000px

  @media (min-width: 720px)
    flex-direction row
    flex-wrap wrap

  &-data
    display flex
    flex-direction column
    min-width 60%
    @media (min-width 720px)
      width 60%

    &-title
      margin 0
      font-size 1.25rem
      text-align center
    &-text
      margin .5rem

  &-info
    display flex
    flex-direction column

  &-cover
    background #f5da55
    border 5px solid #f5da55
    border-radius .5rem
    font-size 0
    overflow hidden
    margin 0 auto
    max-width 200px
    img
      border-radius .5rem
      height auto
      max-width 100%

  &-title
    background #f5da55
    font-size 1.25rem
    margin .5rem 0 0
    padding .5rem 1rem
    @media (min-width: 720px)
      border-radius 0 1rem 0 0
    @media (min-width: 1000px)
      border-radius 1rem 1rem 0 1rem

  &-genres
    align-self flex-end
    background #f5da55
    border-radius 0 0 0 1.25rem
    list-style-type none
    margin 0
    padding-left 0
    padding-right .5em
    text-align right
    width 50%
    &-item
      display inline-block
      &:after
        content ' / '
      &:last-of-type
        &:after
          content ''
    @media (min-width: 720px)
      border-radius 0 0 1.25rem 1.25rem
      padding-right 1em

  &-downloads
    &-title
      font-size 1.125rem
      font-weight bold
      margin 0
      margin-top -1rem
      padding-left .5rem
    & > hr
      border-bottom 1px solid #f5da55
      border-top none
    &List
      display flex
      justify-content space-around
      list-style-type none
      margin 0
      padding-left 0
      &-item
        background #f5da55
        border-radius .25em
      &-link
        color black
        display block
        padding .25em 1.25em
        text-decoration none

  &-trailer
    margin 0 auto
    max-width 100%

  &-suggestions
  &-people
    @media (min-width 720px)
      width 40%

@import 'people.styl'
@import 'suggestions.styl'