.People
  &-title
    margin 0 0 .5rem
    font-size 1.25rem
    text-align center
  &-list
    border-top 1px solid #f5da55
    display flex
    flex-direction column
    list-style-type none
    margin .5rem 0
    padding-left 0
    &-item
      align-items center
      border-bottom 1px solid #f5da55
      display flex
      flex-direction row
  &-image
    border-radius 50%
    font-size 0
    margin .5rem
    border 2px solid #f5da55
    overflow hidden
    min-width 60px
  &-name
    & > span
      display inline-block
      margin 0 .25em