.Suggestions
  &-title
    margin 0
    font-size 1.25rem
    text-align center
  &-list
    display flex
    flex-wrap wrap
    justify-content space-around
    padding-left 0
    margin 0
  &-item
    background #f5da55
    border 5px solid #f5da55
    border-radius .5rem
    cursor pointer
    font-size 0
    list-style-type none
    margin .5rem 0
    max-width 130px
    img
      border-radius .5rem
      max-width 100%
      width 100%